
body{
    min-width: 320px;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

header nav{
    display: flex;
    justify-content: space-evenly;
}
header{
    padding: 1.5rem 20px;
    left: 0;
    right: 0;
    width: 100%;
    position: fixed !important;
    z-index: 10011;
}

header{
    background-color: black;
}
nav, .startLinks a{
    color: rgb(255, 255, 255);
    font-family: 'DIN light';
    letter-spacing: 0.08em;
    font-weight: 600;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menuHamburger{
    display: none;
}

.startLinks a, .contact a{
    margin: 0 13px;
    text-decoration: none;
    font-size: 14px;
}
.middleText{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middleText svg{
    width: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex-grow: 1;
}
footer{
    background-color: magenta;
    padding: 0.5rem 1rem;
}
.backgroundVideo{
    position: relative;
    height: 100vh;
}
#videoRepeated{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.bannerContent{
    margin-left: -30px;
    margin-right: -30px;
    height: 100vh;
    position: relative;
}
.scrollDownAnimation{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 30px 0;
    pointer-events: none;
    width: 100%;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scrollDownContent{
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0.12em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}


.scrollDownText {
    padding-right: 5px;
}

@keyframes sdb05 {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    50% {
      transform: translateY(10px);
      opacity: 0.7;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}
.scrollDownArrow svg{
    animation: sdb05 1.5s infinite; 
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: sdb05;
}


.carousselParent{
    display: flex;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    z-index: 1;
    width: 100%;
    transition-property: transform;
    box-sizing: content-box;
    color: #ffffff;
    transition-duration: .2s;
    transition-property: color,background-color,border-color;
    transition-timing-function: linear;
}
.contentImage, .imageContainer {
    display: block;
    width: 100%;
    height: 100%;
    transform-origin: center top;
    position: relative;
    top: 0;
    left: 0;
    background-position: center center;
    background-size: cover;
    background-blend-mode: multiply;
}

.carousselContent{
    height: 650px;
    max-width: 640px;
    flex-shrink: 0;
    position: relative;
    transition-property: transform;
    transition: transform 0.8s ease, background-color 0.8s ease;
}

.contentText {
    padding: 60px;
    white-space: normal;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    color: #ffffff;
    transform: translate3d(0, 0, 0);
    font-size: 28px;
    line-height: 1.2;
    z-index: 2;
}
.carousselContent::before, .backgroundVideo::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    pointer-events: none;
    z-index: 1;
}
.carousselContent:hover::before {
    transition: all 0.3s ease;
    background-color: rgba(0, 0, 0, 0.5);
}

.carousselContent:hover .contentText{
    transition: all 0.5s ease;
    padding: 90px 60px;
}
.carousselContent:hover .viewMore{
    display: block;
    transition: all 0.7s ease;
}
.carousselContent:hover .viewMore .line1 {
    opacity: 0.5;
    transform: translateY(0);
    transition: opacity 0.7s ease, transform 0.3s ease;
}

.carousselContent:hover .viewMore .moreText {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.7s ease-in-out;
}
.viewMore{
    color: #ffffff;
    z-index: 2;
    position: absolute;
    transform: translate3d(0, 0, 0);
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    padding: 30px 60px;
    font-family: "DIN light";
}
.moreText, .line1{
    display: flex;
    column-gap: 15px;
    align-items: center;
    opacity: 0;
    transform: translateY(20px);
    transition: 0.8s all cubic-bezier(0.19, 1, 0.22, 1);
}
.line1{
    height: 1px;
    width: 100%;
    background-color: white;
    display: inline-block;
}
.moreText span{
    text-transform: uppercase;
    letter-spacing: 0.12em;
    margin-top: 6px;
    margin-bottom: 8px;
}
.line2{
    height: 1px;
    width: 50px;
    background-color: white;
    display: inline-block;
}

.line{
    height: 1px;
    width: 50px;
    background-color: white;
    display: inline-block;
}
.lineM{
    display: inline-block;
    height: 1px;
    width: 50px;
    background-color: black;
}
.inspiration{
    background-color: hsl(0, 0%, 0%);
    height: 90vh;
    flex-wrap: wrap;
    color: #ffffff;
    padding: 200px 30px 180px 30px;
}
.inspiration-content{
    transition: all 0.9s ease;
    width: 104% !important;
    max-width: 104% !important;
    margin-left: calc(-4% / 2);
    margin-right: calc(-4% / 2);
    padding-left: 0;
    padding-right: 45px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
    font-family: "DIN Light";
}

.inspiration-content span{
    color: #c5c5c5;
    font-style: normal;
    letter-spacing: -0.015em;
    line-height: 1.2;
    margin: 0;
    width: 65%;
    font-size: 48px;
    text-align: start;
    margin-right: 70px;
    font-family:"DIN Light";
}
.bottomContent{
    position: relative;
    transition: all 0.9s ease;
    display: flex;
    background-image: url('../assets/images/JH-marquee.svg');
    background-repeat: no-repeat;
    padding: 200px 0;
    color: #000000;
}

.setText, .bottomContent img{
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: 20px;
}
.bottomContent .abt{
    width: 30%;
}
.abt{
    margin: 30px;
    position: sticky;
    font-size: 16px;
    font-family: "DIN light";
    font-weight: 600;
}
.moreAbout{
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 25px;
    font-family: "DIN Light";
}
.moreAbout span{
    transition: all 0.4s ease;
    margin-right: 15px;
    cursor: pointer;
    font-size: 16px;
}

.moreAbout span:first-of-type {
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.08em;
}

.moreAbout:hover{
    color: gray;
}
.moreAbout:hover .lineM{
    background-color: gray;
}

.moreAbout span:hover{
    letter-spacing: 0.17em;
}

.p2{
    margin-top: 20px;
}

.paragraph p{
    font-family: "DIN light";
    color: #000000;
    font-size: 18px;
    line-height: 2em;
}

.imageBottom{
    height: 620px;
}

footer{
    display: flex;
    color: #ffffff;
    height: auto;
    padding: 60px 30px 30px;
    width: 100%;
    background-color: #000000;
    justify-content: space-between;
}

.brand{
    display: flex;
    flex-direction: column;
    margin: 0 22.3125px;
}

.brand img{
    width: 200px;
    height: 34.695px;
    margin-bottom: 15px;
}
 .contact, .social{
    display: flex;
    flex-direction: column;
    margin: 0px 14.5781px 20px 14.5781px;
}

.adresses{
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    padding-right: 60px;
}

.contact a, .social a, .brand a{
    text-decoration: none;
    color: #9F9F9F;
}

.contact a:hover, .social a:hover, .brand a:hover{
    color: #ffffff;
}

.contact ul, .adress p, .social ul{
    list-style-type: none;
    margin: 12px 0px;
    padding: 0;
    color: #9F9F9F;
}

.adress p{
    font-size: 14px;
}

.brand p {
    margin: 16px 0px;
    color: #9F9F9F;
    font-size: 16px;
    font-family: "DIN Light";
    line-height: 1.5em;
}
.contactText{
    display: flex;
    align-items: center;
}

.contactText h4{
    letter-spacing: 0.16em;
    margin: 5px 15px 5px 0px;
    font-family: "DIN light";
    font-size: 14px;
}