@media (max-width: 1024px){
    .menuHamburger{
        display: flex;
        flex-grow: 1;
        cursor: pointer;
        justify-content: flex-end;

    }

    .startLinks{
        display: none;
    }

    header {
        display: flex;
        justify-content: space-between; /* Space between middleText and hamburger */
        align-items: center;
        padding: 1.5rem 20px;
        width: 100%;
        background-color: black;
    }

    header nav {
        display: flex;
        align-items: center;
        width: 100%;
    }

    nav{
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0;
    }

    .middleText {
        flex-grow: 0; 
        display: flex;
        justify-content: flex-start; 
    }

    .inspiration-content span{
        width: 100%;
        text-align: center;
        margin: 0;
        font-size: 52px;
    }
    .inspiration-content{
        display: flex;
        align-items: center;
        padding: 0 50px;
        height: auto;
    }

    .inspiration{
        align-items: center;
        justify-items: center;
        height: fit-content;
    }
    .bottomContent{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 100px 50px 50px 50px;
    }
    .setText, .bottomContent img{
        width: 100%;
    }

    .abt{
        margin: 20px;
    }
    
}
